$red: #ee3461;
$pink: #ff0072;
$yellow: #d69813;
$green: #8bc834;
$greyText: #a0a0a0;
body {
  margin: 0;
  padding: 0;
  font-family: OpenSans-Regular, sans-serif;
  color: white;
}
p{
  margin: 0;
}

.container{
  margin: 20px 40px;
  min-width: 660px;
  background: white;
}
header{
  padding: 42px 0 0 0;
  .container_stats-info{
    display: flex;
    flex-direction: row;
    justify-content: left;
    @media screen and (max-width: 997.7px) {
      flex-wrap: wrap;
    }

    .stats-info_item{
      width: calc(100% / 6);
      border-right: 1px solid #cecdc8;
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      
      @media screen and (max-width: 997.7px) {
        width: calc(100% / 2);
        padding: 0;
        border: none;
        margin-bottom: 15px;
      }

      .title_stats-info{
        color: #cecdc8;
        margin-bottom: 11px;
      }
      .title_stats-info:first-letter{
        text-transform: capitalize;
      }
      .indicators_stats-info{
        display: flex;
        align-items: baseline;
        color: black;
        div:first-child{
          font-size: 18px;
          font-weight: bold;
          margin-right: 7px;
          white-space: nowrap;
        }
        div:last-child{
          font-size: 12px;
          position: relative;
        }
        div:last-child::before{
          content: "";
          left: 0;
          top: -0.25rem;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 3px;
          border-color: transparent transparent #ee3461 transparent;
          position: absolute;
        }
      }
    }
    .stats-info_item:first-child{
      padding: 0;
    }
    .stats-info_item:nth-child(2){
      .indicators_stats-info{
        div:first-child{
          color: #ee144e;
        }
      }
    }
    .stats-info_item:nth-child(3){
      .indicators_stats-info{
        div:first-child{
          color: #f1ae00;
        }
      }
    }
    .stats-info_item:nth-child(5){
      .indicators_stats-info{
        div:last-child::before{
          content: "";
          left: 0;
          top: -0.25rem;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 3px;
          border-color: #000 transparent transparent transparent;
          position: absolute;
        }
      }
    }
    .stats-info_item:nth-child(4), .stats-info_item:nth-child(6){
      .indicators_stats-info{
        div:last-child::before{
          content: "";
          left: 0;
          top: -0.25rem;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 3px;
          border-color:  transparent transparent #000 transparent;
          position: absolute;
        }
      }
    }
    .stats-info_item:last-child{
      border: none;
    }
  }
}

main{
  margin: 42px 0;
  width: 100%;
  color: $greyText;
  background: #e1e1e1;
  min-height: 250px;
  height: 100vw;
  max-height: 571px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 1366.7px) {
    height: 350px;
  }
  @media screen and (max-width: 997.8px) {
    height: 250px;
    
  }
}

footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  @media screen and (max-width: 1280px){
    justify-content: start;
  }
  .container_detailed-information{
    width: calc(100vw / 3 - 60px);
    @media screen and (max-width: 1279.7px) {
      width: 500px;
    }
    .item_detailed-information{
      .title_detailed-information{
        text-transform: uppercase;
        color: black;
        font-size: 13px;
        margin-bottom: 15px;
      }
      .table_detailed-information{
        display: flex;
        justify-content: space-between;
        .col_detailed-information{
          width: calc(100% / 4);
          @media screen and (max-width: 1367.7px) {
            width: 100%;
            min-width: 100px;
          }
          .title_col__right, .title_col__left, .title_col__middle{
            font-size: 12px;
            color: $greyText;
            white-space: nowrap;
            border-bottom: 1px solid $greyText;
            padding-bottom: 7px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
          .title_col__right{
            text-align: end;
          }
          .tableInfo{
            color: black;
            padding: 11px 0 7px;
            font-size: 13px;
            border-bottom: 1px solid $greyText;
            font-weight: bold;
            display: flex;
            align-items: baseline;
            div:first-child{
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }
          }
          .tableInfo__bad{
            color: $pink;
            justify-content: center;
          }
          .tableInfo__well{
            color: $green;
            justify-content: center;
          }
          .userIndicators{
            color: black;
            padding: 11px 0 7px;
            font-size: 13px;
            border-bottom: 1px solid $greyText;
            display: flex;
            justify-content: end;
            .indicatorsItem{
              display: flex;
              justify-content: center;
              align-items: center;
              margin-left: 30px;
              .indicatorsValue{
                margin-right: 5px;
                width: 15px;
                text-align: end;
                font-weight: bold;
              }
              .indicatorsCircle_bad{
                background: $red;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                margin-left: 5px;
              }
              .indicatorsCircle_wel{
                background: $green;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                margin-left: 5px;
              }
              .indicatorsCircle_med{
                background: $yellow;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                margin-left: 5px;
              }
              .emptyCircle{
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
              }
              .emptyCircle::after{
                content: "";
                position: absolute;
                width: 8px;
                height: 8px;
                background: white;
                border-radius: 50%;
              }
            }
            .indicatorsItem:first-child{
              margin: 0;
            }
          }
          .indicators_stats-info{
            display: flex;
            align-items: baseline;
            justify-content: end;
            div:first-child{
              font-weight: bold;
              margin-right: 7px;
              white-space: nowrap;
            }
            div:last-child{
              font-size: 9px;
              color: $greyText;
              position: relative;
              width: 25px;
            }
            .badIndicatorTriangle::before{
              content: "";
              left: 0;
              top: -0.45rem;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 3px;
              border-color: transparent transparent #ee3461 transparent;
              position: absolute;
            }
            .wellIndicatorTriangle::before{
              content: "";
              left: 0;
              top: -0.25rem;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 3px;
              border-color: $green transparent transparent transparent;
              position: absolute;
            }
          }
          .extended_tableInfo__bad{
            font-size: 11px;
            color: $pink;
            margin-left: 7px;
          }
          .extended_tableInfo__well{
            font-size: 11px;
            color: $green;
            margin-left: 7px;
          }
          .extended_tableInfo__mid{
            font-size: 11px;
            margin-left: 7px;
            color: $greyText;
          }

        }
      }
    }
  }
  .container_detailed-information:first-child, .container_detailed-information:nth-child(2){
    .table_detailed-information{
      .col_detailed-information:first-child{
        flex-grow: 3;
      }
    }
  }
  .container_detailed-information:first-child{
    .col_detailed-information{
      .userIndicators:nth-child(6), .userIndicators:last-child{
        .indicatorsItem {
          .indicatorsValue{
          color: $greyText;
          }
        }
      }
    }
  }
}